@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600&display=swap');

*{
 font-family: Roboto; 
}

.app{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.first_section_area{
  background-color: #495E57;
  margin: 2vw 6vw 0vw 6vw;
  border-radius: 16px;
}

.first_section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 0vw 13vw 0vw 13vw;
  gap: 10vw;
  padding: 1vw;
}

.second_section_area{
  margin: 2vw 6vw 0vw 6vw;
  gap: 1vw 
}

.second_section{
  margin: 0vw 13vw 0vw 13vw;
}

.thrid_section_area{
  background-color: #FDF5E6;
  margin: 2vw 6vw 0vw 6vw;
  border-radius: 16px;
  padding: 1vw;
}

.third_section{
  margin: 0vw 12vw 0vw 12vw;
}

.navbar_items{
  color:#495E57;
  font-weight:bold;
  font-size: 17px;
}

.order_online_button{
  display: flex;
  justify-content: center;
  background-color: #495E57;
  color: white;
  border-radius: 16px;
  padding: 0.5vw;
  border: none;
  width: 6vw;
}

.book_table_button{
  display: flex;
  justify-content: center;
  background-color: #f4CE14;
  color: black;
  border-radius: 16px;
  padding: 0.5vw;
  border: none;
  width: 6vw;
  height: 2vh;
}