.app{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.first_section{
  border: solid red 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 2vw;
  gap: 1vw
}

.second_section{
  border: solid red 1px;
  display: grid;
  margin: 2vw;
  gap: 1vw 
}